#root {
  /* max-width: 100%; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}



.card {
  padding: 3cap;
}

.gameBoard {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-between; or 'space-evenly' / 'center' depending on look */
  /* gap: 10px; optional spacing between squares */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 30px;
  width: 100%;
}
.gameCard {
  /* display: flex;
  border-color: black;
  border-width: 2px;
  border-style: dotted;
  border-radius: 5%;
  padding: 10px;
  margin: 10px;
  /* flex: 1 1 calc(100% / 6 - 10px); /* allow up to 6 per row */
  /* max-width: calc(100% / 6 - 10px); /* prevent exceeding 6 per row */
  /* aspect-ratio: 1; makes it a square */
  /* background-color: lightblue; just for visual */ */ */ */
  aspect-ratio: 1; /* Keeps it square */
  background-color: lightblue;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  margin: 10px;
  padding: 10px;
  height: 100px; 
  width: 100px;
  border-radius: 25%;
  
}


.scoreBoard {
  padding: 20px;
}